fastapi
sqlalchemy
pydantic
mysql-connector-python
uvicorn
fastapi[all]
python-jose[cryptography]
passlib
bcrypt<5
alembic
dotenv
python-dotenv
pytest==8.4.1
pytest-mock
pytest-cov
httpx==0.28.1
redis==6.4.0
pytz==2025.2
apscheduler==3.11.0
python-multipart==0.0.20
Jinja2==3.1.6
httpx
mysqldump